* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #b0c4de;
}

.title {
  color: white;
  text-align: center;
  width: 100vw;
  padding: 1rem;
}

.map {
  padding: 1rem;
  height: 60vh;
}